@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital,wght@0,500;1,500&display=swap");

.container {
  height: 100vh;
}

.box {
  background-color: white;
  padding: 2rem;
  max-width: 600px;
  border-radius: 15px;
}
.box h4 {
  font-family: "Roboto", sans-serif;
}
.box p {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 500;
}
.btn {
  border: none !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.signature p {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

button:hover,
a:hover {
  filter: brightness(1.15);
}
